
<form class="form">
    <div class="form-group">
        <label>Today, I'd like to have:</label>
        <div class="radio" ng-repeat="kind in kinds">
            <label>
                <input type="radio" ng-model="newOrder.kindId" value="{{ kind.Id }}" ng-click="fetchRestaurants()" />{{kind.Name}}
            </label>
        </div>
        <div>
            <a href="#" class="else"><i class="glyphicon glyphicon-plus"></i> Something else</a>
        </div>
    </div>
    <div class="form-group">
        <label>brought by:</label>
        <div class="radio">
            <label>
                <input type="radio" name="deliverer" checked />Tommy Burger <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3d ago
                </span>
                <a href="#" class="menu"><i class="glyphicon glyphicon-new-window"></i> See menu</a>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="deliverer" />Jerry's Burger <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    2 weeks ago
                </span>
                <a href="#" class="menu"><i class="glyphicon glyphicon-new-window"></i> See menu</a>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="deliverer" />Whoever
            </label>
        </div>
        <div>
            <a href="#" class="else"><i class="glyphicon glyphicon-plus"></i> Someone else</a>

        </div>
    </div>
    <div class="form-group">
        <label>and the dish is:</label>
        <div class="radio">
            <label>
                <input type="radio" name="dish" checked />Tradycyjny <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3 weeks ago
                </span>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dish" />Jakiś inny <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3d ago
                </span>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dish" />Jakiś inny <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3d ago
                </span>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dish" />Jakiś inny <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3d ago
                </span>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dish" />Jakiś inny <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3d ago
                </span>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dish" />Jakiś inny <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3d ago
                </span>

            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="dish" />Jakiś inny <span class="text-muted">
                    <i class="glyphicon glyphicon-time"></i>
                    3d ago
                </span>

            </label>
        </div>
        <div>
            <a href="#" class="else"><i class="glyphicon glyphicon-plus"></i> Something else</a>

        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" /> I'd like to share it
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" /> I can have it optionally
            </label>
        </div>
    </div>
    <button class="btn btn-success">Add "Tradycyjny" Burger from "Tommy Burger" to today's wishlist</button>
    <button class="btn btn-default">Cancel</button>
</form>