
<form class="form" ng-submit="processOrderForm()">
    <div class="form-group">
        <label>Today, I'd like to have:</label>
        <div class="radio" ng-repeat="kind in kinds" ng-cloak>
            <label>
                <input type="radio" ng-model="newOrder.kindId" value="{{ kind.Id }}" ng-click="getRestaurantsForKind(kind)" />
                {{kind.Name}}
            </label>
        </div>
        <div>
            <a href="#" ng-click="showAddKindPrompt()">
                <i class="glyphicon glyphicon-plus"></i>
                <span ng-show="kinds.length > 0">Something else</span>
                <span ng-show="kinds.length === 0">Add first kind (i.e. "Pizza", "Pasta")</span>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label>brought by:</label>
        <div class="radio" ng-repeat="restaurant in restaurants">
            <label>
                <input type="radio" name="restaurant" ng-model="newOrder.restaurantId" value="{{restaurant.Id}}" ng-click="getDishedForRestaurant(restaurant)" />
                {{restaurant.Name}}
                <a ng-href="{{ restaurant.MenuUrl }}" ng-show="restaurant.MenuUrl != null" target="_blank">
                    <i class="glyphicon glyphicon-new-window"></i> See menu
                </a>
            </label>
        </div>
        <div ng-show="newOrder.kindId != null">
            <a href="#" ng-click="showAddRestaurantPrompt()">
                <i class="glyphicon glyphicon-plus"></i>
                <span ng-show="restaurants.length > 0">Someone else</span>
                <span ng-show="restaurants.length === 0">Add first restaurant of "{{ newOrder.kind }}" type</span>
            </a>
        </div>
        <p class="help-block" ng-show="newOrder.kindId === null">
            (waiting for kind selection)
        </p>
    </div>
    <div class="form-group">
        <label>and the dish is:</label>
        <div class="radio" ng-repeat="dish in dishes">
            <label>
                <input type="radio" name="dish" ng-model="newOrder.dishId" ng-value="dish.Id" />
                {{ dish.Name }}
            </label>
        </div>
        <div ng-show="newOrder.restaurantId != null">
            <a href="#" ng-click="showAddDishPrompt()">
                <i class="glyphicon glyphicon-plus"></i>
                <span ng-show="dishes.length > 0">Something else</span>
                <span ng-show='dishes.length === 0'>Add first dish in restaurant "{{ newOrder.restaurant }}"</span>
            </a>
        </div>
        <p class="help-block" ng-show="newOrder.restaurantId === null">
            (waiting for restaurant selection)
        </p>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="newOrder.isHelpNeeded" /> I can't handle this dish myself. I'd like to share it.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="newOrder.isOptional" /> I can have it optionally.
            </label>
        </div>
    </div>
    <button class="btn btn-success">
        Add "{{ newOrder.dishId === null ? '(waiting for selection)' : newOrder.dish }}" from "{{ newOrder.restaurantId === null ? '(waiting for selection)': newOrder.restaurant }}" to today's wishlist
    </button>
</form>