<div>
    <label>Matches so far</label>
    <a href="#" class="btn btn-default" ng-click="refreshMatches()">Refresh</a>
    <a href="#" class="btn btn-default">Finish poll todo</a>
</div>

<div ng-repeat="match in matches">
    <label>{{ match.Orders[0].Restaurant }}</label>
    <ul>
        <li ng-repeat="order in match.Orders">
            {{ order.Dish }} for
            <strong ng-show="order.UserEmail === '@User.Identity.Name'">You</strong>
            <span ng-show="order.UserEmail != '@User.Identity.Name'">{{ order.UserEmail }}</span>

            <a href="#" ng-show="order.UserEmail === '@User.Identity.Name' || @Html.Raw(ViewBag.IsAdminOfGroup ? "true" : "false")" ng-click="cancelOrder(order)">
                Cancel
            </a>
        </li>
    </ul>
</div>
