<div>
    <label>Matches so far</label>
    <a href="#" class="btn btn-default" ng-click="refreshMatches()">Refresh</a>
    <a href="#" class="btn btn-default">Finish poll todo</a>
</div>

<div ng-repeat="match in matches">
    <label>{{ match.Orders[0].Restaurant }}</label>
    <ul>
        <li ng-repeat="order in match.Orders">
            {{ order.Dish }} for {{ order.UserEmail }}
            @if (ViewBag.IsAdminOfGroup)
            {
                <span ng-show="order.UserEmail === '@User.Identity.Name'" class="label label-info">Yours</span>
            }
            
            <a href="#" ng-show="order.UserEmail === '@User.Identity.Name'" ng-click="cancelOrder(order)">I don't want it anymore </a>
        </li>
    </ul>
</div>
