@{
    ViewBag.Title = "Poll";
}

<div class="row" ng-controller="PollController">
    <div class="col-xs-12 col-md-6">
        @Html.Partial("_Form")
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.Partial("_Preview")
    </div>
</div>

