@{
    ViewBag.Title = "Food Court";
}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <form>
            <div class="form-group">
                <input type="email" value="" class="form-control" placeholder="Your email" />
            </div>
            <div class="form-group">
                <input type="text" value="" class="form-control" placeholder="Emails of people to invite" />
            </div>
            <div class="form-group">
                <input type="text" value="" class="form-control" placeholder="Group name" />
            </div>
            <p>
                <button type="submit" class="btn btn-success btn-lg">
                    Create
                </button>
            </p>
            <p>
                or
                <a href="@Url.Action("Account", "LogIn")">
                    log in to an existing poll
                </a>
            </p>
        </form>
    </div>
</div>
   