@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div style="text-align: center;">
        <h3>404!</h3>
        <h1>♪~ ᕕ(ᐛ)ᕗ</h1>
        <h4><a href="/">Go home - nothing to do here</a></h4>
    </div>
</body>
</html>
