@model FoodCourt.Service.Mailer.EmailDTO

<h1>Hi there</h1>
<p>@Model.GroupOwner invited you to join group @Model.GroupName here on FoodCourt so you can easily order food from now on.</p>
<p>If you are interested (or hugry) please click below link:</p>

<code>@Model.PasswordSetUrl</code>

<p>Beware. Above link is one-use-only. Once used it becames inactive!</p>