@model FoodCourt.Service.Mailer.EmailDTO
It seems that we cannot match your orders with others.

<a href="@Model.PollUrl">Revisit the Food Court</a> and expand your wishlist to make it more probable to get matched.

If you don't mind ordering food alone, you can ignore this message and wait for another email, informing that the poll is closed and resolved.